h1 {
    font-family: 'Segoe UI';
}
p {
    font-size: larger;
    font-family: 'Segoe UI';
}
sub {
    color: #a4a4a4;
    font-size: x-small;
    font-family: 'monolisa';
}
body {
    background-color: #36393F;
    color: #DCDDDE;
}