@import url("https://raw.githubusercontent.com/IDcLuc/IDcLuc.github.io/main/css/themecore.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
:root {
  --backgroundColor01: #1e2731;
  --backgroundColor02: #12171d;
  --mainColor: #2275c9;
  --gradientColor01: #000000;
  --gradientColor02: #00FFFF;
 
  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: rgba(0, 0, 0, .2);
 
  --customFont: 'gg sans', sans-serif;
}
